<a href="https://colab.research.google.com/github/innosoft21/workspace/blob/main/tensorflow_R/%EB%84%A4%EC%9D%B4%EB%B2%84_%EC%A6%9D%EA%B6%8C%EC%97%90%EC%84%9C_%EC%82%BC%EC%84%B1%EC%A0%84%EC%9E%90_%EC%9D%BC%EB%B3%84_%EC%8B%9C%EC%84%B8_%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

네이버 증권에서 삼성전자 확인. 삼성전자의 주식코드는 005930

일별시세를 나타내는 사이트 확인

테이블 주소 확인

In [ ]:
# install.packages("rvest")

# install.packages("R6")

In [7]:
library("rvest")
library("R6")

In [8]:
url_base <- 'http://finance.naver.com/item/sise_day.nhn?code=005930&page='

all.price <- c()

In [9]:
# 20쪽까지 자료 가져오기

for (page in 1:20){
price <- paste(url_base,page,sep='') %>%
  read_html() %>%
  html_nodes('table') %>%
  .[1] %>%
  html_table()
  all.price <- c(all.price,price)
}

In [13]:
all.price

list()

In [ ]:
write.table(all.price, 'samsung_stock.txt')