<a href="https://colab.research.google.com/github/innosoft21/workspace/blob/main/RPA/Excel_RPA4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

RPA 엑셀자동화 4. excel파일 만들고, 영어,수학성적 random 입력하고 저장된 모든 값 출력하기

from openpyxl.utils.cell import coordinate_from_string 사용하기

In [6]:
from openpyxl import Workbook
from random import *

wb=Workbook()
ws=wb.active #현재활성화된 sheet가져옴

In [8]:
# 1줄씩 데이터 넣기
ws.append(["번호","영어","수학"])
for i in range(1,11): #데이터 10개 넣기
    ws.append([i,randint(0,100),randint(0,100)])
wb.save("sample.xlsx")

In [12]:
col_B=ws["B"] #B컬럼(영어) 만 가져오기
print(col_B)
for cell in col_B:
  print(cell.value)

(<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.B11>)
영어
65
87
49
14
99
42
83
59
15
46

In [13]:
col_range=ws["B:C"] #B,C 컬럼(영어,수학) 데이터 가져오기
for cols in col_range:
  for cell in cols:
    print(cell.value)

영어
65
87
49
14
99
42
83
59
15
46
수학
83
6
91
86
55
27
32
25
19
37

In [14]:
row_title=ws[1] # 첫째 행(column명)만 가져오기
for cell in row_title:
  print(cell.value)

번호
영어
수학

In [19]:
row_range=ws[2:6] #2번째 행부터 6번쨰 행까지 가져오기
for rows in row_range:
  for cell in rows:
    print(cell.value, end=" ") # 출력값 끼리 띄워쓰기로 구분
  print() #줄바꿈

1 65 83
2 87 6
3 49 91
4 14 86
5 99 55

In [21]:
row_range=ws[2:ws.max_row] #2번째 행부터 끝 행까지 가져오기
for rows in row_range:
  for cell in rows:
    print(cell.value, end=" ") # 출력값 끼리 띄워쓰기로 구분
  print() #줄바꿈

1 65 83
2 87 6
3 49 91
4 14 86
5 99 55
6 42 27
7 83 32
8 59 25
9 15 19
10 46 37

In [24]:
from openpyxl.utils.cell import coordinate_from_string

row_range=ws[2:ws.max_row] #2번째 행부터 끝 행까지 가져오기
for rows in row_range:
  for cell in rows:
    print(cell.coordinate, end=" ") # cell의 정보를 출력
  print() #줄바꿈

A2 B2 C2
A3 B3 C3
A4 B4 C4
A5 B5 C5
A6 B6 C6
A7 B7 C7
A8 B8 C8
A9 B9 C9
A10 B10 C10
A11 B11 C11

In [27]:
from openpyxl.utils.cell import coordinate_from_string

row_range=ws[2:ws.max_row] #2번째 행부터 끝 행까지 가져오기
for rows in row_range:
  for cell in rows:
    xy=coordinate_from_string(cell.coordinate)
    print(xy,end=" ") #튜플형태로 출력
  print() #줄바꿈

('A', 2) ('B', 2) ('C', 2)
('A', 3) ('B', 3) ('C', 3)
('A', 4) ('B', 4) ('C', 4)
('A', 5) ('B', 5) ('C', 5)
('A', 6) ('B', 6) ('C', 6)
('A', 7) ('B', 7) ('C', 7)
('A', 8) ('B', 8) ('C', 8)
('A', 9) ('B', 9) ('C', 9)
('A', 10) ('B', 10) ('C', 10)
('A', 11) ('B', 11) ('C', 11)

In [26]:
from openpyxl.utils.cell import coordinate_from_string

row_range=ws[2:ws.max_row] #2번째 행부터 끝 행까지 가져오기
for rows in row_range:
  for cell in rows:
    xy=coordinate_from_string(cell.coordinate)
    print(xy[0],end="") #A,B...
    print(xy[1], end=" ") #1,2,3...
  print() #줄바꿈

A2 B2 C2
A3 B3 C3
A4 B4 C4
A5 B5 C5
A6 B6 C6
A7 B7 C7
A8 B8 C8
A9 B9 C9
A10 B10 C10
A11 B11 C11